*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: auto;
    font-family: "Poppins", Arial, sans-serif;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 280px;
    position: fixed;
    background: transparent;
}
nav .brand p{
    float: left;
    color: white;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase; 
    font-family: "Poppins", Arial, sans-serif;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
}
nav li a{
    font-size: 17px;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
}
nav li a:hover{
    cursor: pointer;
    border-bottom: 2px solid #ffbd39;
    padding-bottom: 3px;
    transition: .2s ease-in-out;
} 
.main_content {
    display: flex;
    justify-content: center;
}
.background_about {
    background: url(../img/bg_1.jpg);
    background-position: right;
    height: 91vh;
    /* 90vh */
    width: 71vw;  
    /* 69vw */
    background-size: 85vh;
    background-repeat: no-repeat;
  }
.text {
    color: white;
    padding-top: 180px;
    font-family:"Poppins", Arial, sans-serif;
    padding-left: 20px;
}
.subheading{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffbd39;
    line-height:3.2;
}
.text h1{
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
}
.sub_2{
    font-weight: 800;
    color: #ffbd39;
    line-height: 1.2;
}
.text h2{
    font-size: 30px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem !important;
    line-height: 1.5;
    color: white;
    font-weight: 400;
}
.button_1{
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1rem;
}
.btn_primary_1{
    background: #ffbd39;
    border: 1px solid #ffbd39 !important;
    color: #000000 !important;
}
.btn_1{
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.btn_outline_white{
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: #fff;
    margin-left: 10px;
}
.px_4_1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
}
.py_3_1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-decoration: none;
}